{
	email greyhairchooselife@gmail.com
}

1.sodam.store {
	log {
		output stdout
		format json
	}
	handle /rtc* {
		reverse_proxy 127.0.0.1:7880
	}
	handle /twirp* {
		reverse_proxy 127.0.0.1:7880
	}
	handle /webhook/* {
		reverse_proxy 127.0.0.1:8080
	}
	handle /v1/* {
		reverse_proxy 127.0.0.1:8080
	}
	handle /admin/* {
		reverse_proxy 127.0.0.1:8080
	}
	handle /healthz {
		reverse_proxy 127.0.0.1:8080
	}
	handle {
		reverse_proxy 127.0.0.1:3000
	}
}

2.sodam.store {
	log {
		output stdout
		format json
	}
	handle /rtc* {
		reverse_proxy 127.0.0.1:7880
	}
	handle /twirp* {
		reverse_proxy 127.0.0.1:7880
	}
	handle /webhook/* {
		reverse_proxy 127.0.0.1:8080
	}
	handle /v1/* {
		reverse_proxy 127.0.0.1:8080
	}
	handle /admin/* {
		reverse_proxy 127.0.0.1:8080
	}
	handle /healthz {
		reverse_proxy 127.0.0.1:8080
	}
	handle {
		reverse_proxy 127.0.0.1:3000
	}
}

3.sodam.store {
	log {
		output stdout
		format json
	}
	handle /rtc* {
		reverse_proxy 127.0.0.1:7880
	}
	handle /twirp* {
		reverse_proxy 127.0.0.1:7880
	}
	handle /webhook/* {
		reverse_proxy 127.0.0.1:8080
	}
	handle /v1/* {
		reverse_proxy 127.0.0.1:8080
	}
	handle /admin/* {
		reverse_proxy 127.0.0.1:8080
	}
	handle /healthz {
		reverse_proxy 127.0.0.1:8080
	}
	handle {
		reverse_proxy 127.0.0.1:3000
	}
}

4.sodam.store {
	log {
		output stdout
		format json
	}
	handle /rtc* {
		reverse_proxy 127.0.0.1:7880
	}
	handle /twirp* {
		reverse_proxy 127.0.0.1:7880
	}
	handle /webhook/* {
		reverse_proxy 127.0.0.1:8080
	}
	handle /v1/* {
		reverse_proxy 127.0.0.1:8080
	}
	handle /admin/* {
		reverse_proxy 127.0.0.1:8080
	}
	handle /healthz {
		reverse_proxy 127.0.0.1:8080
	}
	handle {
		reverse_proxy 127.0.0.1:3000
	}
}

5.sodam.store {
	log {
		output stdout
		format json
	}
	handle /rtc* {
		reverse_proxy 127.0.0.1:7880
	}
	handle /twirp* {
		reverse_proxy 127.0.0.1:7880
	}
	handle /webhook/* {
		reverse_proxy 127.0.0.1:8080
	}
	handle /v1/* {
		reverse_proxy 127.0.0.1:8080
	}
	handle /admin/* {
		reverse_proxy 127.0.0.1:8080
	}
	handle /healthz {
		reverse_proxy 127.0.0.1:8080
	}
	handle {
		reverse_proxy 127.0.0.1:3000
	}
}
